<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ru.vital.daily">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".DailyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GroupActivity"></activity>
        <activity android:name=".activity.NotificationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.PostActivity" />
        <activity android:name=".activity.SharedMediaActivity" />
        <activity android:name=".activity.CountryCodeActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.GroupInfoActivity"/>
        <activity android:name=".activity.ChatCreateActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.vital.daily.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>